@model IEnumerable<StudentProject.Models.UserRegistrationViewModel>

@{
    ViewBag.Title = "Student";
}

<h2>List Of All Student</h2>


<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
                @Html.LabelFor(model => model.Select(m => m.Fname), htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Select(m => m.Fname), new { htmlAttributes = new { @id = "First Name", @class = "form-control", @placeholder = "First Name" } })
                    @Html.ValidationMessageFor(model => model.Select(m => m.Fname), "", new { @class = "text-danger" })
                </div>
            </div>*@
        @*<div class="form-group">

            <input type="submit" value="Search" class="btn btn-success" />
        </div>*@
    }

</div>


<table class="table table-condensed table-striped  table-bordered table-hover">
    <tr>
        <th>
            @Html.Label("First Name")
        </th>
        <th>
            @Html.Label("Last Name")
        </th>
        <th>
            @Html.Label("Date Of Birth")
        </th>
        <th>
            @Html.Label("Hobbies")
        </th>
        <th>
            @Html.Label("Email")
        </th>
        @*<th>
                @Html.Label("Password")
            </th>*@
        <th>
            @Html.Label("Gender")
        </th>
        <th>
            @Html.Label("IsVerified")
        </th>
        <th>
            @Html.Label("IsActive")
        </th>

        <th>
            @Html.Label("city")
        </th>
        <th>
            @Html.Label("Country")
        </th>
        <th>
            @Html.Label("State")
        </th>
        <th>
            @Html.Label("Current Address")
        </th>
        <th>
            @Html.Label("permanent address")
        </th>
        <th>
            @Html.Label("zipcode")
        </th>
        <th>
            @Html.Label("Role Name")
        </th>
        <th>
            @Html.Label("Course")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hobbies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVerified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PermanentAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        @if (Convert.ToInt32(Session["RoleId"]) == 3)
        {
            <td>
                @*@Html.ActionLink("Edit", "Edit", "Student", new { id = item.UserId }, null) |*@
                @*@Html.ActionLink("Delete", "DeleteConfirmed", "Default", new { UserId = item.UserId }, null)*@
                @*@Html.ActionLink("Delete", "CreateNewUser", "SuperAdmin")*@
                @*@Html.ActionLink(“ActionLinkName”, “ActionName”, “ControllerName”)*@


            </td>
        }
        else if(Convert.ToInt32(Session["RoleId"]) == 1 && Convert.ToInt32(Session["RoleId"]) == 4)
        {
             <td>
                @Html.ActionLink("Edit", "Edit", "Student", new { id = item.UserId }, null) |
                @Html.ActionLink("Delete", "DeleteConfirmed", "Default", new { UserId = item.UserId }, null)
                @*@Html.ActionLink("Delete", "CreateNewUser", "SuperAdmin")*@
                @*@Html.ActionLink(“ActionLinkName”, “ActionName”, “ControllerName”)*@


            </td>
        }
        else if(Convert.ToInt32(Session["RoleId"]) == 2)
        {
            //nothing to show
        }
    </tr>
    }

</table>

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@


<!--this is for country, state and city-->
<script>

                $(document).ready(function () {

                    $("#ddlState").change(function () {

                        var id = $(this).val();
                        alert(id);
                        $("#ddlState").empty();
                        $.getJSON("GetState", { CountryId: id }, function (data) {
                            var v = "<option>..Select State..</option>";
                            $.each(data, function (i, v1) {
                                v += "<option Value=" + v1.Value + ">" + v1.Text + "</option>";
                            }
                            );
                            $("#state").html(v);
                        });
                    });

                    $("#ddlState").change(function () {

                        var id = $(this).val();
                        $("#city").empty();
                        $.getJSON("GetCities", { StateId: id }, function (data) {

                            var v = "<option>..Select City..</option>";
                            $.each(data, function (i, v1) {
                                v += "<option Value=" + v1.Value + ">" + v1.Text + "</option>";

                            });
                            $("#ddlCity").html(v);
                        });
                    });

                });
</script>



