@model StudentProject.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forget password";
}
<div>
    <h2>Forget password</h2>
    <div class="w3-container w3-teal">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="w3-container success"><h4>please write your Email Id</h4></div>

                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })




                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "Email", @class = "form-control", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SecurityPIN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.SecurityPIN, new { htmlAttributes = new { @id = "Email", @class = "form-control", @placeholder = "PIN" } })
                        @Html.ValidationMessageFor(model => model.SecurityPIN,"", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Set Password" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }


    </div>
</div>