@model StudentProject.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}
<div>
    <h2>Forget password</h2>
    <div class="w3-container w3-teal">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="w3-container success"><h4>Create new password</h4></div>

                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "Password", @class = "form-control", @placeholder = "Password", @required="required" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save password" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }


    </div>
</div>
